.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    margin: 40px;
    min-width: 40vw;
    max-width: 80vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-main {
    display: flex;
    flex-direction: column;
}

.table-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.t-data {
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.head-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-div {
    display: flex;
    flex-direction: column;
}

.input-div {
    min-width: 160px;
}

.input {
    max-width: 120px;
}
